<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.TextEditor" version="3.2.1.6466" targetFramework="net45" />
  <package id="ICSharpCode.TextEditor.Sample" version="3.2.1.6466" targetFramework="net45" />
  <package id="Magick.NET-Q16-x86" version="6.8.7.901" targetFramework="net45" />
  <package id="NetIde.ICSharpCode.TextEditor" version="3.2.1.6473" targetFramework="net45" />
</packages>